<h1>Strive</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>


<pre class="alert alert-Warning">
TODO:
.schedules list , use 4 tabs to show (today,tomorrow,future,past)
.goal index 頁面也要有所有的schedule列表
.schedule 多增加是否完成欄位  已完成的顏色透明60%
.copy schedule 功能
.每一個目標頁面 顯示提醒說 今天要安排的事情
.目標上傳圖片
.每個目標努力的圖表（取到今日為止的）
.每個目標安排的圖表 （所有的）
.goal 描述的版面
.建立帳號時 就自動先建立一個目標為 日常事務安排
.schedule可以更改自己的顏色
</pre>

<pre class="alert alert-info">
DONE:
寫功能前先寫測試TDD
1.使用者註冊登入機制
2.登入後回到原先所在的頁面
3.月曆機制
4.schedule , goal機制
5.目標指令使用的顏色選擇 , goal的版面顏色
6.goal 顏色改變後 schedule的顏色也要跟著變
</pre>

<pre class="alert alert-danger">
bugs:
1.上heroku時 goal new 找不到color
</pre>